@model IEnumerable<Freelancer.Models.Order>

@{
    ViewData["Title"] = "Заявки за обяви";
}

<h1>Заявки на обяви</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Обява</a>
            </th>
            <th>
                Потребител
            </th>
            <th>
                Приета
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jobs.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm">Редактиране</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
