@using Freelancer.Data;
@model PaginatedList<Freelancer.Models.Job>
@{
    ViewData["Title"] = "Обяви за работа";
}




<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нов</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-check">
        <p>
            Намери по име: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Търси" class="btn btn-sm" /> |
            <a asp-action="Index" class="btn btn-secondary">Обратно към листа</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Заглавие</a>
            </th>
            <th>
                Описание
            </th>
            <th>
                Тип на обявата
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Дата на създаване</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm">Редактирай</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>


