@model IEnumerable<Freelancer.Models.Job>

@{
    ViewData["Title"] = "Index";
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
}
@if (SignInManager.IsSignedIn(User))
{


    <h1>Jobs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Accept" asp-route-id="@item.Id">Accept</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="display-6 fw-bold lh-1">You are not logged in!</h1>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
